@charset "UTF-8";

@media (max-width: 1024px) {
    #paint {
        width: 100%;
    }
}

@media (max-width: 320px) {
    #paint {
        height: 300px;
    }
}

@media (max-height: 640px) {
    header h1 {
        margin-top: 15px;
    }
}