@charset "UTF-8";

#utilities {
    text-align: center;
}

#pencil-size {
    width: 40px;
    margin-top: 15px;
    margin-right: 5px;
    text-align: center;
}

#paint-bucket {
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
    border: 1px solid grey;
    outline: none;
    background-image: url('../icons/paint-bucket.png');
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
}

#utilities button.checked {
    opacity: 0.5;
}

#download-canvas {
    margin-top: 15px;
}


#clear {
    height: 30px;
    width: 30px;
    background-image: url('../icons/limpar.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    vertical-align: middle;
    border: 1px solid grey;
    outline: none;
}